[access]
	inheritFrom = CameraHal00_Release
[access "refs/heads/develop"]
	push = group user/jacob.chen (cc)
	label-Code-Review = -2..+2 group user/jacob.chen (cc)
	label-Verified = -1..+1 group user/jacob.chen (cc)
	submit = group user/jacob.chen (cc)
[access "refs/meta/config"]
	label-Code-Review = -2..+2 group user/jacob.chen (cc)
	label-Verified = -1..+1 group user/jacob.chen (cc)
	submit = group user/jacob.chen (cc)
